*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.transform{
    animation-name: transform;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes transform {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(700px);
    }
}